# macOS
.DS_Store

# Editors/IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.tmp/
logs/

bear-chat-uniapp
.dartServer
.dart-tool
log

redcode-im-server/
redcode-im-app/
redcode-im-admin/

admin/
backend/
frontend/
